/* https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=9E9E9E&secondary.color=FB8C00&secondary.text.color=212121 */

@import 'color-theme.scss';

body, h1,h2,h3,h4,h5,h6 {font-family: "Titillium Web", sans-serif}

body {
    background-color: $color-primary-l2;
}

.content {
    background-color: $color-primary;
}

.head {
    width: 100%;
    background-color: $color-primary-d5!important;
    color: $color-primary-l4!important;
}

.img-avatar {
    border: 1px solid transparent;
    &:hover {
        border: 1px solid $color-primary-l4;
    }
}

.btn-download {
    background-color: $color-secondary!important;
    color: $color-primary-l4!important;

    &:hover {
        background-color: $color-secondary-d3!important;
        color: $color-primary-l5!important;
    }
}

%table-clear {
    &::before, &::after {
        content:"";display:table;clear:both;
    }
}

.row {
    // @extend %table-clear;
    display: flex;
    display: -webkit-flex;
    padding: 8px 8px 8px 0;   
}

.col {
    // @extend %table-clear;
    float: left;
    width: 100%;
    &.left {
        width: 18%;
        text-align: right;
        padding: 0 16px 0 8px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 8px;
            right: 0;
            width: 0; height: 0;
            border: 3px solid black;
            border-radius: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            border-right: 2px solid black;
            top: 0; right: 2px;
            bottom: -26px;
        }
    }
    &.right {
        width: 82%;
        padding: 0 8px 0 16px;
        position: relative;
        
    }
}

.w3-row .row:last-child .left {
    &::after {
        display: none!important;
    }
}
.w3-row .row:first-child .left {
    &::before {
        top: 25px;
        right: -3px;
        border-width: 6px;
        border-radius: 7px;
    }
    &::after {
        top: 32px;
    }
}

// hide left on small
@media (max-width:600px){
    .col.left {display: none!important;}
    .col.right {width: 100%;}
}
// hide info on m-l
@media (min-width:601px){
    .col.right .sinfo {
        display: none!important;
    }
}

.title {
    font-weight: bold!important;
    color: $color-secondary-d3;
    &::after {
        content: "";
        display: block;
        width: 5%;
        border: 2px solid $color-secondary-d3;
        border-radius: 2px;
    }
}

.sub-title {
    font-weight: bold;
}

.progress {
    background-color: $color-primary-d3;
}

.progress-inner {
    background-color: $color-secondary-d5;
}