@charset "UTF-8";
/* https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=9E9E9E&secondary.color=FB8C00&secondary.text.color=212121 */
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", sans-serif;
}

.head {
  padding-top: 16px;
  background-color: #303030;
  color: #dfdfdf;
}

.info-main {
  padding: 0 16px;
}

.avatar-container {
  display: inline-block;
}

.info-name {
  display: inline-block;
  margin: auto 6px;
}

.info-head {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.1em;
  color: #ffc14b;
}

.avatar {
  display: inline-block;
  position: relative;
  margin: auto 6px;
}

.avatar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
  -webkit-box-shadow: 0 0 10px 0 white, 0 0 20px 0 rgba(0, 255, 255, 0.05);
          box-shadow: 0 0 10px 0 white, 0 0 20px 0 rgba(0, 255, 255, 0.05);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  clip: rect(170px, 170px, 170px, -20px);
}

.avatar:hover::before {
  opacity: 1;
  clip: rect(-20px, 170px, 170px, -20px);
}

.avatar::after {
  content: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#313131), to(rgba(97, 97, 97, 0)));
  background-image: linear-gradient(to top, #313131, rgba(97, 97, 97, 0));
}

.img-avatar {
  position: relative;
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
}

.head-name {
  color: #f6f6f6;
}

.btn-download {
  background-color: transparent !important;
  border: 2px solid #616161;
  border-radius: 4px;
  color: #c0c0c0;
  position: relative;
}

.btn-download:hover {
  background-color: transparent !important;
  border-color: #c0c0c0 !important;
  color: #f6f6f6 !important;
  -webkit-animation: btn-pulse 0.5s;
          animation: btn-pulse 0.5s;
}

.btn-download:hover i {
  color: white;
  font-size: 1.2em;
}

@-webkit-keyframes btn-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(97, 97, 97, 0.8);
            box-shadow: 0 0 0 0 rgba(97, 97, 97, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(97, 97, 97, 0);
            box-shadow: 0 0 0 10px rgba(97, 97, 97, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(97, 97, 97, 0);
            box-shadow: 0 0 0 0 rgba(97, 97, 97, 0);
  }
}

@keyframes btn-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(97, 97, 97, 0.8);
            box-shadow: 0 0 0 0 rgba(97, 97, 97, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(97, 97, 97, 0);
            box-shadow: 0 0 0 10px rgba(97, 97, 97, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(97, 97, 97, 0);
            box-shadow: 0 0 0 0 rgba(97, 97, 97, 0);
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 8px 8px 0;
}

.col {
  float: left;
  width: 100%;
}

.col.left {
  width: 20%;
  text-align: right;
  padding: 0 16px 0 8px;
  position: relative;
}

.col.left::before {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  right: -1px;
  width: 0;
  height: 0;
  border: 4px solid #303030;
  border-radius: 50%;
}

.col.left::after {
  content: "";
  position: absolute;
  display: block;
  border-right: 2px solid #303030;
  top: 0;
  right: 2px;
  bottom: -26px;
}

.col.right {
  width: 80%;
  padding: 0 8px 0 16px;
  position: relative;
}

.exp::before, .skill::before, .software::before, .edu::before, .ref::before, .cont::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 90;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  display: inline-block !important;
  text-align: center;
  vertical-align: middle !important;
}

.exp::before, .skill::before, .software::before, .edu::before, .ref::before, .cont::before {
  color: #dfdfdf;
  width: 1.8em !important;
  height: 1.8em !important;
  line-height: 1.8em !important;
  font-size: 1em !important;
  border: none !important;
  border-radius: 50% !important;
  background: #303030;
}

.right i::before {
  font-size: 0.7em !important;
}

.exp::before {
  content: "" !important;
}

.skill::before {
  content: "" !important;
  padding-left: 2px !important;
}

.software::before {
  content: "" !important;
}

.edu::before {
  content: "" !important;
}

.ref::before {
  content: "" !important;
}

.cont::before {
  content: "" !important;
}

.w3-row .row:last-child .left::after {
  bottom: 0px;
}

.w3-row .row:first-child .left::before {
  top: 20px;
  right: -10px;
}

.w3-row .row:first-child .left::after {
  top: 45px;
}

@media (max-width: 600px) {
  .hide-small, .col.left {
    display: none !important;
  }
  .col.right {
    width: 100%;
  }
}

@media (min-width: 601px) {
  .hide-large, .col.right .sinfo {
    display: none !important;
  }
}

.title {
  font-weight: bold !important;
  color: #444444;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  left: 35px;
  height: 3px;
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 2px;
}

@media (min-width: 601px) {
  .title::after {
    left: 0;
  }
}

.sub-title {
  font-weight: bold;
}

.progress {
  background-color: #dfdfdf;
  border-radius: 2px;
}

.progress-inner {
  background-color: #818181;
  color: #dfdfdf;
  border-radius: 2px;
  width: 0;
}

.slide-up {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-animation: slide-up 1s ease-out forwards;
          animation: slide-up 1s ease-out forwards;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes slide-up {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.progress-anim {
  -webkit-transition: width 2s ease-out;
  transition: width 2s ease-out;
}

@-webkit-keyframes progress-anim {
  to {
    width: 0%;
  }
}

@keyframes progress-anim {
  to {
    width: 0%;
  }
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(1) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(2) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(3) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(4) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(5) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(6) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(7) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(8) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(9) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s;
}

.w3-row[scroll-effect="slide-up"] > .row:nth-child(10) [scroll-effect="progress-anim"] {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.pos-lead {
  font-weight: bold;
  font-size: 0.95em;
  color: #444444;
}

.pos-sub {
  font-weight: bold;
  font-size: 0.85em;
  font-style: italic;
  color: #818181;
  margin-bottom: 8px;
}

.pos-detail {
  color: #444444;
}

.edu-lead {
  font-weight: bold;
  color: #444444;
}

.edu-sub {
  font-weight: bold;
  font-size: 0.95em;
  font-style: italic;
  color: #616161;
}

.ref-name {
  font-weight: bold;
  font-size: 1.1em;
  color: #444444;
}

.ref-pos {
  font-weight: bold;
  color: #818181;
}

.ref-detail {
  color: #575757;
  margin-right: 16px;
}

.ref-detail i {
  font-size: 1.6em;
}

.cont-detail {
  color: #575757;
}

.cont-detail i {
  font-size: 1.6em;
}
/*# sourceMappingURL=style.css.map */